.about {
  background-color: black;
  min-height: 100vh;
  display: flex;
}
.aboutContainer {
  background-color: white;
  width: 60%;
  height: 70vh;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: right;
  padding: 2vmax;
  box-sizing: border-box;
}
.aboutContainer > p {
  font-family: "Roboto";
  text-align: right;
  letter-spacing: 5px;
  word-spacing: 5px;
  line-height: 60px;
  color: black;
  font-size: 1.5vmax;
  width: 30%;
}
.aboutContainer2 {
  width: 60%;
  min-height: 80vh;
  background-color: white;

  box-shadow: 0 0 15px black;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 2vmax;
  display: flex;
  transform: translateX(-100vw) translateY(-10%) rotateZ(-360deg);
  animation: aboutAnimation 1s ease-in forwards;
}
.aboutContainer2 > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1vmax;
  color: black;
  box-sizing: border-box;
}
.aboutContainer2 > div:first-child {
  align-items: center;
}
.about-avatar {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  transition: all 1s;
}
.image-container {
  position: relative;
  display: inline-block;
}
.image-container img {
  display: block;
  max-width: 100%;
  margin: 1vmax;
  border: 4px solid #3498db;
}
.image-container .border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 4px solid #3498db; /* Set border color */
  border-radius: 50%;
  border-right: 4px solid #3498db;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;

  box-sizing: border-box;
  animation: rotateBorder 5s linear infinite;
}

.about-avatar:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px black;
}
@keyframes aboutAnimation {
  to {
    transform: translateX(20%) translateY(0%);
  }
}
@keyframes aboutAnimationPhone {
  to {
    transform: translateX(0%) translateY(0%);
  }
}
@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .about {
    align-items: flex-end;
  }
  .aboutContainer {
    display: none;
  }
  .aboutContainer2 {
    width: 100%;
    position: relative;
    flex-direction: column;
    animation: aboutAnimationPhone 1s ease-in forwards;
    max-height: 90vh !important;
  }
  .aboutContainer2 > div:last-child > p {
    text-align: center !important;
    font-size: 14px;
  }
  .about-avatar {
    width: 100px;
    height: 100px;
    transform: translateY(-70%);
  }
  .image-container .border {
    position: absolute;
    top: -75px;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 4px solid #3498db; /* Set border color */
    border-radius: 50%;
    border-right: 4px solid #3498db;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;

    box-sizing: border-box;
    animation: rotateBorder 5s linear infinite;
  }
}
