.login {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.loginContainer {
  width: 50%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px black;
}
.loginForm {
  background-color: inherit;
  height: 70vh;
  border-radius: 5px;
  padding: 2vmax;
}
.loginForm > h4 {
  margin: 2vmax;
  letter-spacing: 15px;
  display: flex;
  transform: translateX(-100vw);
  animation: contactFormInput 1s ease-in-out forwards;
  justify-content: center;
}
.loginForm > h4 > p {
  transition: all 0.5s;
  cursor: default;
}
.loginForm > h4 > p:hover {
  transform: translateY(-10px);
}
.loginForm > div {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  padding: 2vmax 8vmax;
}
.loginForm > div > input {
  padding: 1vmax 2vmax;
  margin: 1vmax;
  border: 1px solid black;
  transform: translateX(-100vw);
  border-radius: 30px;
  font: 100 1rem "Roboto";
  outline: none;

  animation: contactFormInput 1s ease-in-out forwards 0.5s;
}
.loginForm > div > button {
  padding: 1vmax 2vmax;
  margin: 1vmax;
  transform: translateY(-100vh);
  animation: contactFormBtn 1s ease-in-out forwards 1s;
  border-radius: 30px;
  background-color: purple;
  color: white;
  transition: all 0.5s;
}
.loginForm > div > button:hover {
  background-color: black;
}
.alert {
  transform: translateY(-100vh);

  
  animation: alertAnimation 2s ease-in-out;
}
@keyframes alertAnimation {
  to {
    transform: translate(0);
  }
}

@media screen and (max-width: 600px) {
  .loginContainer {
    width: 100%;
    border-radius: 0;
  }
  .loginForm {
    border-radius: 0;
  }
  .loginForm > div {
    padding: 4vw 8vw;
  }
  .loginForm > div > input {
    padding: 3vw 6vw;
    margin: 2vw;
  }
  .loginForm > div > button {
    padding: 2vw 6vw;
    margin: 2vw;
  }
}
